/**/
.header{
    /* margin-left: 25rem ; */
    
    width: 100%;
}
/*Spacing Class in body*/
.spacer{
    height : 5rem;
}
.center-button{
   margin-left: 7rem;
}
.line-height{
    line-height: 24px
}
/* About Fb Logo*/
.fb{
    color:#139CF7;
}
/*About icon center*/
.center{
    text-align:center;
    width:100%
}
/*Animations : On hover Pulse Grow*/
@-webkit-keyframes hvr-pulse-grow {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  @keyframes hvr-pulse-grow {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  .hvr-pulse-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.1s;
    animation-duration: 0.6s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }
/*Layout of add and remove button*/
  .flexing{
    display : flex;
    justify-content: space-between;
  }
   /*Custom design of file upload button*/
  .upload input[type=file] {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
  }
   .upload {
   display: inline-block;
  }
  .file {
    letter-spacing : 1px;
  }
  .file-icon{
     padding-right:15px;
}
/*Responsive Layout for tablet and Phablet*/
@media only screen and (max-width: 1146px) {
  .flexing{
    display : flex;
    justify-content: space-between;
  }
 }
@media only screen and (max-width: 862px) {
  .add{
    font-size : 85%;
  }
  .remove{
    font-size : 85%;
  }
 }
 @media only screen and (max-width: 767px) {
  body{
    background-color: white;
  }
  .generate-center{
    padding : 0
  }
  .center-button {
    margin : 3em;
  }
  body{
    width: 100%;
  }
 }