/*Custom styles*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
.flexing{
  display : flex;
  justify-content : space-between;
}

/*Spacing Class in body*/
.spacer{
    height : 2.7rem;
}

.line-height{
    line-height: 24px
}
/* About Fb Logo*/
.fb{
    color:#139CF7;
}
/*About icon center*/
.center{
    text-align:center;
    width:100%
}
/*Animations : On hover Pulse Grow*/
@-webkit-keyframes hvr-pulse-grow {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  @keyframes hvr-pulse-grow {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  .hvr-pulse-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.1s;
    animation-duration: 0.6s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }
  
  /*Custom design of file upload button*/
  #photo{
    position: absolute;
    /* visibility: hidden; */
    opacity: 0;
    left: 0;
    top: 0;
    height: 40px;
  }
  #photoButton{
    border: #303030
   }
/*Responsive Layout for tablet and Phablet*/
@media only screen and (max-width: 1146px) {
  .flexing{
    display : flex;
    justify-content: space-between;
  }
 }
@media only screen and (max-width: 862px) {
  .add{
    font-size : 85%;
  }
  .remove{
    font-size : 85%;
  }

  .student-details p{
    font-size : 4vw !important;
    text-align : left !important;
    word-spacing: 5px;
    letter-spacing : 1.2px;
    font-weight :300 !important;
    text-align: center;
    /* margin:0; */
    padding-left : 0px !important;
    padding-top: 5px;
    margin-left: 3vw;
    /* background-color: #139CF7; */
  }

  .student-profile{
    margin: 10px 8vw 10px 8vw  !important;
    padding :0;
   }

   .userData {
   padding-top: 30px;
  }

  .firstRow
   {
    margin-top : 4.0rem !important;
   }

  .userData .container
  {
    height: 22vw !important;
    font-size :17px;
    font-family: 'Poppins', sans-serif;
  }
  .navbar{
    font-weight: 300 !important;
  }
  .student-image img{
    height: 36vw !important;
    width : 100% ;
   }
 }
 
 @media only screen and (max-width: 540px)
 {
  /* .custom-switch{
    display:none !important;
  } */

  .formFeilds{
    margin-top: 13rem !important;
  }

  .content {
    width: 18rem !important;
  }

  .userData {
    padding-top: 10px;
   }
   .userData .container{
    font-size :14px;
   }

   .spacer{
     height : 1.9rem !important;
   }
   .firstRow
   {
    margin-top : 6.5rem !important;
   }
   .student-image img{
    height: 36vw !important;
    width : 100% ;
   }
   .user{
     flex-direction: row-reverse !important;
   }
   .user > .font-decrease {
     margin-right : 4px !important;
     margin-left: 65px;;
   }


 }

 html,body, body:before, body:after{
   padding: 0;
   margin: 0;
   overflow-x: hidden; 
   font-size: 15px;
   font-family: 'Comfortaa', cursive;
   font-weight: 600 !important;
   letter-spacing: 0.5px;

 }

.output{
  overflow-y: hidden;
	max-height: 600px; 
  box-sizing: border-box;

	transition-property: all;
	transition-duration: 4s;
	transition-timing-function: ease;
}

.closed{
  max-height: 0;
}
.closed-pr{
  display : none;
}
.flex-output{
   display: flex;
   justify-content :space-around;
   padding: 40px;
   }
 .card img{
  max-width: 100%;
  height: auto; 
  }
.modal-footer{
  display : block;
  }
.flex-card{
  display : flex;
  justify-content : space-around;
  }
.insta{
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
 .hidden{
  display : none;
  }
 .install-alert{
  display : flex;
  justify-content : space-between;
  align-items: center;
 }
/* Student Profile Section */
 .student{
   display : flex;
   justify-content : space-evenly;
   align-items: stretch;
   flex-wrap: wrap;
 }
 .student-details{ 
   flex : 1 0 60%;
 }
 .student-image img{
  height: 20vw;
  width : 100% ;
 }
 .student-image {
  flex : 1 0 40%;
 }
 .student-details p{
   font-size : 20px;
   word-spacing: 10px;
   font-family: 'Poppins', sans-serif;
   font-weight : 500;
   padding-left : 11vw;
   padding-top: 1vw;
   margin-bottom: 0;
 }
 .delete{
   align-self: flex-end;
  flex: 0 1 50%;
  margin: 0;
  border-radius: 0;

 }
 .edit{
  align-self: flex-end;
  flex: 0 1 50%;
  margin: 0;
  border-radius: 0;
 }
 .student-profile{
  margin: 10px 25vw 10px 25vw;
  padding :0;
 }
 .userData .container{
   display : flex;
   flex-direction: row;
   justify-content:space-between;
   height: 5vw;
   align-items: center;
 }
.userForm-signUp{
  display:none;
}
.userForm-logIn{
  display:none;
}
/* Info Section */
.guide
{
 display :flex;
 justify-content: center;
 padding-bottom: 8px ;
}
.info-howto{
  font-size : 16px;
  font-family: 'Poppins', sans-serif;
  word-spacing: 3px;
}
.goApp a{
  font-size:17px;
}
.screenshots{
  display : flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction:row-reverse;
}
.screenshots img{
  width : 300px;
  height : 300px; 
  padding: 15px;
  border-color: wheat;
}
.screenshots p{
  font-size : 20px;
  font-weight: 500;
  padding-bottom: 10px;
}
.space{
  padding-left: 8px;
}
.modal-body{
  overflow :hidden;
}
.errorMessage{
  display :none;
}
.error-message{
  color:#242B2E !important;
  font-weight :700;
  font-size :18px;
  word-spacing: 2.5px;
}
.cbsize{
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.batchPdf{
  display : flex;
  justify-content :flex-end;
  padding: 5px;
}

.batchPdf .btn{
  margin:15px 0px 15px 15px;
}

.wait{
  display : flex !important;
  justify-content:center;
   visibility: hidden;
} 

.visibility{
 display: none;
}

.btn{
  border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
}


.theme {
  border-radius: 255px 25px 225px 25px/25px 225px 25px 255px !important;

}

.form-control,.alert{
  border-radius: 255px 55px 245px 55px/35px 255px 25px 255px;

}

.login{
  background-color :#9bdb35;
  color: rgba(34, 24, 30, 0.912) !important;
}

.logout{
  background-color :#d55f3b;
  color: rgba(34, 24, 30, 0.912) !important;
}

:focus {
  outline: none;
}

.content {
  width: 40rem;
  position: relative;
}

.input {
  width: 100%;
  border: 0;
  padding: 10px 10px;
  border-bottom: 2px solid #b4df6f;
   
}

.input ~ .border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
}

.input:focus ~ .border {
  width: 100%;
  transition: 0.7s;
}

.input[type=text],.input[type=password] {
  background-color :#09e98400 !important;
}


.border {
    border: 2px solid #9BDB35!important;
}

.formFeilds{
  /* margin : 60px 90px 0px 90px; */
  margin-top: 6rem !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
 
}

.user
{
  display: flex;
  justify-content : space-around;
}

.user > a{
  margin: 4px;
}

.font-increase {
  background-color :#4e7de2;
  color: rgba(255, 255, 255, 0.912) !important;
}

.font-decrease {
  background-color :#e24e6e;
  color: rgba(255, 255, 255, 0.912) !important;
}

.font-normal{
  background-color :#f0a925;
  color: rgba(255, 255, 255, 0.912) !important;
}

.navbar{
  padding:  7px !important;
}

.fixed 
{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.body{
  min-height: 100%;
  margin: 0 auto -50px;
}