/**/
.flexing{
  display : flex;
  justify-content : space-between;
}

/*Spacing Class in body*/
.spacer{
    height : 3rem;
}

.line-height{
    line-height: 24px
}
/* About Fb Logo*/
.fb{
    color:#139CF7;
}
/*About icon center*/
.center{
    text-align:center;
    width:100%
}
/*Animations : On hover Pulse Grow*/
@-webkit-keyframes hvr-pulse-grow {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  @keyframes hvr-pulse-grow {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  .hvr-pulse-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.1s;
    animation-duration: 0.6s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }
  
  /*Custom design of file upload button*/
  .upload input[type=file] {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    height: 36px;
  }
 
  .file {
    letter-spacing : 1px;
  }
  .file-icon{
     padding-right:15px;
}

/*Responsive Layout for tablet and Phablet*/
@media only screen and (max-width: 1146px) {
  .flexing{
    display : flex;
    justify-content: space-between;
  }
 }
@media only screen and (max-width: 862px) {
  .add{
    font-size : 85%;
  }
  .remove{
    font-size : 85%;
  }
 }
 

 html,body, body:before, body:after{
   padding: 0;
   margin: 0;
   overflow-x: hidden;

 }

.output{
  overflow-y: hidden;
	max-height: 600px; 
  box-sizing: border-box;

	transition-property: all;
	transition-duration: 4s;
	transition-timing-function: ease;
}

.output.closed{
  max-height: 0;
}

 .flex-output{
   display: flex;
   justify-content :space-around;
   padding: 40px;
 }

 .card img{
  max-width: 100%;
  height: auto; 
  }

  .team-column{
   
  }